@import "tailwindcss";


@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/fonts/LINESeedSansTH_W_Th.woff2') format('woff2'),
       url('/fonts/LINESeedSansTH_W_Th.woff') format('woff'),
       url('/fonts/LINESeedSansTH_W_Th.eot') format('embedded-opentype');
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    overflow-x: hidden;
    width: 100%;
  }
}
